.social-link__vk,
.social-link__vk svg {
  align-self: center;
  width: 24px;
  height: 13px;

  @include vp-767 {
    width: 32px;
    height: 17px;
  }
}

.social-link__instagram,
.social-link__instagram svg {
  width: 24px;
  height: 24px;

  @include vp-767 {
    width: 27px;
    height: 27px;
  }
}

.social-link__facebook,
.social-link__facebook svg {
  width: 12px;
  height: 24px;

  @include vp-767 {
    width: 14px;
    height: 27px;
  }
}

.social-link svg,
.social-link a {
  display: block;
}
