.header {
  position: relative;

  background: $dark-cerulean-to-venetian-red-main;

  @include vp-1199 {
    background: $dark-cerulean-to-venetian-red-medium;
  }
  @include vp-767 {
    background: $dark-cerulean-to-venetian-red-mini;
  }
}
