.slider__wrapper {
  position: relative;

  height: 294px;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
  }
  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.swiper {
  position: relative;

  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-size: 18px;
  text-align: center;
}

.slider__button-next::after,
.slider__button-prev::after {
  display: none;
}

.slider__button-next,
.slider__button-prev {
  top: 53%;

  color: #afafaf;

  @include vp-767 {
    top: 55%;
  }
}

.slider__button-next {
  right: -54px;

  @include vp-767 {
    right: -41px;
  }
}

.slider__button-prev {
  left: -52px;

  @include vp-767 {
    left: -29px;
  }
}

.slider__button-next::before,
.slider__button-prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  border-right: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;

  @include vp-767 {
    width: 15px;
    height: 15px;
  }
}

.slider__button-next::before {
  transform: rotate(-45deg);
}

.slider__button-prev::before {
  transform: rotate(135deg);
}
